/* COMMON STYLES */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
  color: #111111;
}
.accent-color {
  color: #fd9222;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}
img,
source {
  display: block;
}
input {
  font-family: inherit;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 335px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}
@media screen and (min-width: 1168px) {
  .container {
    max-width: 1168px;
  }
}
/* HEADER STYLES */
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
}
.page-logo-part {
  font-style: italic;
}
.page-logo-icon {
  margin-left: 4px;
  width: 21px;
  height: 21px;
}
.page-nav-list {
  display: none;
}
.page-header-network-list {
  display: none;
}
/* MOBILE MENU */
@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 20px;
    padding-bottom: 14px;
  }
  .mobile-menu-button {
    line-height: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    stroke: #111111;
  }
  .mobile-menu {
    background-color: #1e1823;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    transform: translateX(0%);
  }
  .mobile-menu-container {
    position: relative;
    padding-top: 136px;
    padding-bottom: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mobile-menu-close-button {
    position: absolute;
    top: 20px;
    right: 16px;
    border: none;
    line-height: 0;
    background-color: transparent;
    padding: 0;
    stroke: #ffffff;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-close-button:hover,
  .mobile-menu-close-button:focus {
    stroke: #fd9222;
  }
  .mobile-menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
  }
  .mobile-menu-nav-link {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-nav-link:hover,
  .mobile-menu-nav-link:focus {
    color: #fd9222;
  }
  .mobile-menu-nav-link-current {
    color: #fd9222;
  }
  .mobile-menu-list-network {
    display: flex;
    gap: 18px;
    justify-content: flex-start;
    align-items: center;
  }
  .mobile-menu-network-link {
    display: block;
    line-height: 0;
    stroke: #ffffff;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-network-link:hover,
  .mobile-menu-network-link:focus {
    stroke: #fd9222;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .page-header-container {
    display: flex;
    align-items: center;
    column-gap: 48px;
  }
  .page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
  .page-nav-list {
    display: flex;
    column-gap: 24px;
  }
  .page-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    display: block;
    padding: 32px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-nav-link:hover,
  .page-nav-link:focus {
    color: #fd9222;
  }
  .page-header-network-list {
    display: flex;
    gap: 18px;
  }
  .page-header-network-link {
    display: block;
    line-height: 0;
    stroke: #111111;
    fill: none;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-header-network-link:hover,
  .page-header-network-link:focus {
    stroke: #fd9222;
  }
}
@media screen and (min-width: 1168px) {
  .page-logo {
    font-size: 18px;
    line-height: 1.11;
  }
  .page-logo-icon {
    width: 24px;
    height: 24px;
  }
  .page-header-container {
    column-gap: 90px;
  }
}
/* HERO STYLES */
.page-hero {
  background-color: rgba(17, 17, 17, 0.4);
  max-width: 375px;
  margin: 0 auto;
  border-radius: 30px;
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0.4) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../images/hero/hero-background-image-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .page-hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero/hero-background-image-mob@2x.jpg);
  }
}
.page-hero-container {
  padding: 395px 24px 20px;
  color: #ffffff;
}
.page-hero-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  max-width: 299px;
  margin-bottom: 32px;
}
.page-hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}
.page-hero-wrapper-mob {
  display: flex;
  gap: 14px;
  align-items: center;
}
.page-hero-button {
  font-weight: 600;
  font-size: 14px;
  background-color: #fd9222;
  min-width: 120px;
  height: 41px;
  border-radius: 100px;
  padding: 12px 28px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-hero-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 100px;
  text-align: center;
  min-width: 159px;
  height: 41px;
  padding: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-hero-scroll {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-hero-button:hover,
.page-hero-button:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}
.page-hero-link:hover,
.page-hero-link:focus {
  color: #fd9222;
  border-color: #fd9222;
}
.page-hero-scroll:hover,
.page-hero-scroll:focus {
  color: #fd9222;
}
.page-hero-scroll-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #fd9222;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-hero-scroll:hover .page-hero-scroll-wrapper {
  background-color: #fd9222;
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .page-hero {
    max-width: 768px;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero/hero-background-image-tab.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .page-hero {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0.4) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(../images/hero/hero-background-image-tab@2x.jpg);
    }
  }
  .page-hero-container {
    padding: 671px 56px 40px;
  }
  .page-hero-title {
    font-size: 28px;
    line-height: 1.21;
    max-width: 484px;
  }
  .page-hero-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .page-hero-button {
    min-width: 144px;
    height: 45px;
    padding: 14px 40px;
  }
  .page-hero-link {
    min-width: 183px;
    height: 45px;
  }
  .page-hero-scroll {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 14px;
    font-size: 14px;
    line-height: 1.29;
  }
  .page-hero-scroll-wrapper {
    width: 38px;
    height: 38px;
  }
  .page-hero-scroll-icon {
    width: 22px;
    height: 22px;
  }
}
@media screen and (min-width: 1168px) {
  .page-hero {
    max-width: 1168px;
    background-color: #1e1823;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero/hero-background-image-desk.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .page-hero {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0.4) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(../images/hero/hero-background-image-desk@2x.jpg);
    }
  }
  .page-hero-container {
    padding-top: 381px;
  }
  .page-hero-title {
    max-width: 464px;
  }
}
/* BENEFITS STYLES */
.page-benefits {
  background-color: #1e1823;
  color: #ffffff;
  margin-top: 60px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.benefits-list-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
}
.benefits-item-name {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 18px;
}
.benefits-item-description {
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 1.29;
  color: rgba(255, 255, 255, 0.7);
  padding-right: 28px;
}
@media screen and (min-width: 768px) {
  .page-benefits {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
  .benefits-list-item {
    width: calc((100% - 1 * 32px) / 2);
  }
  .benefits-list-item:last-child {
    padding-bottom: 35px;
  }
}
@media screen and (min-width: 1168px) {
  .page-benefits {
    margin-top: 72px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .benefits-container {
    padding-left: 34px;
    padding-right: 34px;
  }
  .benefits-list {
    gap: 88px;
  }
  .benefits-list-item {
    width: calc((100% - 2 * 88px) / 3);
    position: relative;
  }
  .benefits-item-description {
    padding-right: 0;
  }
  .benefits-list-item:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    height: 50%;
    width: 1px;
    right: -18px;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
  }
}
/* INGREDIENTS STYLES */
.page-ingredients {
  padding-top: 30px;
  padding-bottom: 30px;
}
.page-ingredients-title {
  max-width: 283px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.page-ingredients-title-description {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  max-width: 355px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}
.page-ingredients-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.page-ingredients-list-item {
  width: 100%;
  border-radius: 15px;
  border: 1px solid #fd9222;
  padding: 28px;
  position: relative;
  overflow: hidden;
}
.page-ingredients-list-item-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.page-ingredients-list-item-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.page-ingredients-list-item:nth-child(even) {
  background-color: #ffffff;
}
.page-ingredients-list-item:nth-child(4n + 1) {
  background-color: #fd9222;
  color: #ffffff;
}
.page-ingredients-list-item:nth-child(4n - 1) {
  background-color: #1e1823;
  color: #ffffff;
  border-color: #1e1823;
}
.page-ingredients-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  padding: 28px;
  border-radius: 15px;
  background-color: #ffffff;
  color: #111111;
  overflow: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-ingredients-list-item:hover .page-ingredients-overlay {
  transform: translateY(0);
}
.page-ingredients-title-overlay {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.page-ingredients-list-overlay {
  display: flex;
  column-gap: 6px;
  margin-bottom: 14px;
}
.page-ingredients-item-overlay {
  border: 1px solid #fd9222;
  border-radius: 35px;
  padding: 6px 16px;
  font-size: 10px;
  line-height: 1.2;
}
.page-ingredients-first-item-overlay {
  color: #fff;
  background: #fd9222;
}
.page-ingredients-second-item-overlay {
  background-color: #fafafa;
}
.page-ingredients-text-overlay {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
@media screen and (min-width: 768px) {
  .page-ingredients {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .page-ingredients-title {
    max-width: 411px;
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 28px;
  }
  .page-ingredients-title-description {
    max-width: 486px;
    margin-bottom: 50px;
  }
  .page-ingredients-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
  .page-ingredients-list-item {
    width: calc((100% - 1 * 32px) / 2);
  }
}
@media screen and (min-width: 1168px) {
  .page-ingredients {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .page-ingredients-title {
    font-size: 28px;
  }
  .page-ingredients-list {
    gap: 19px;
  }
  .page-ingredients-list-item {
    width: calc((100% - 3 * 19px) / 4);
  }
  .page-ingredients-list-item-img-wrapper {
    margin-bottom: 36px;
  }
  .page-ingredients-overlay {
    padding: 20px;
  }
}
/* HOW IT’S MADE? STYLES */
