/* GLOBAL STYLES */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
  color: #111111;
}
.accent-color {
  color: #fd9222;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}
img {
  display: block;
}
.container {
  max-width: 1168px;
  padding: 0 16px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-paddings {
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
/* HEADER STYLES */
.page-header-container {
  display: flex;
  align-items: center;
  column-gap: 90px;
}
.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.page-logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.page-logo-part {
  font-style: italic;
}
.page-logo-icon {
  margin-left: 4px;
}
.page-nav-list {
  display: flex;
  column-gap: 24px;
}
.page-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  display: block;
  padding: 30px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-nav-link:hover,
.page-nav-link:focus {
  color: #fd9222;
}
.page-header-network-list {
  display: flex;
  gap: 18px;
}
.page-header-network-link {
  display: block;
  line-height: 0;
  stroke: #111111;
  fill: none;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header-network-link:hover,
.page-header-network-link:focus {
  stroke: #fd9222;
}
/* HERO STYLES */
.page-hero {
  background-color: #1e1823;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 30px;
  background-image: linear-gradient(
      rgba(30, 24, 35, 0.4),
      rgba(30, 24, 35, 0.4)
    ),
    url(../images/hero/hero-background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.page-hero-container {
  padding: 381px 56px 40px;
  color: #ffffff;
}
.page-hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  max-width: 464px;
  margin-bottom: 32px;
}
.page-hero-wrapper {
  display: flex;
  align-items: center;
}
.page-hero-button {
  font-weight: 600;
  font-size: 14px;
  background-color: #fd9222;
  min-width: 144px;
  height: 45px;
  border-radius: 100px;
  padding: 14px 40px;
  border: none;
  margin-right: 14px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-hero-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 100px;
  text-align: center;
  min-width: 183px;
  height: 45px;
  padding-left: 20px;
  padding-right: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-hero-scroll {
  display: flex;
  align-items: center;
  column-gap: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  margin-left: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-hero-button:hover,
.page-hero-button:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}
.page-hero-link:hover,
.page-hero-link:focus {
  color: #fd9222;
  border-color: #fd9222;
}
.page-hero-scroll:hover,
.page-hero-scroll:focus {
  color: #fd9222;
}
.page-hero-scroll-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #fd9222;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-hero-scroll:hover .page-hero-scroll-wrapper {
  background-color: #fd9222;
  fill: #ffffff;
}
/* BENEFITS STYLES */
.page-benefits {
  background-color: #1e1823;
  color: #ffffff;
  margin-top: 72px;
  margin-bottom: 50px;
}
.benefits-container {
  padding-left: 34px;
  padding-right: 34px;
}
.benefits-list {
  display: flex;
  column-gap: 88px;
}
.benefits-list-item {
  width: calc((100% - 2 * 88px) / 3);
  position: relative;
}
.benefits-list-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
}
.benefits-item-name {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 18px;
}
.benefits-item-description {
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 1.29;
  color: rgba(255, 255, 255, 0.7);
}
.benefits-list-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  height: 50%;
  width: 1px;
  right: -18px;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
}
/* INGREDIENTS STYLES */
.page-ingredients-title {
  max-width: 412px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}
.page-ingredients-title-description {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  max-width: 486px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.page-ingredients-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 19px;
  justify-content: space-between;
}
.page-ingredients-list-item {
  width: calc((100% - 3 * 19px) / 4);
  border-radius: 15px;
  border: 1px solid #fd9222;
  padding: 32px 28px;
  position: relative;
  overflow: hidden;
}
.page-ingredients-list-item-img {
  margin-bottom: 36px;
}
.page-ingredients-list-item-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.page-ingredients-list-item:nth-child(even) {
  background-color: #ffffff;
}
.page-ingredients-list-item:nth-child(4n + 1) {
  background-color: #fd9222;
  color: #ffffff;
}
.page-ingredients-list-item:nth-child(4n - 1) {
  background-color: #1e1823;
  color: #ffffff;
  border-color: #1e1823;
}
.page-ingredients-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  padding: 20px;
  border-radius: 15px;
  background-color: #ffffff;
  color: #111111;
  overflow: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-ingredients-list-item:hover .page-ingredients-overlay {
  transform: translateY(0);
}
.page-ingredients-title-overlay {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.page-ingredients-list-overlay {
  display: flex;
  column-gap: 6px;
  margin-bottom: 14px;
}
.page-ingredients-item-overlay {
  border: 1px solid #fd9222;
  border-radius: 35px;
  padding: 6px 16px;
  font-size: 10px;
  line-height: 1.2;
}
.page-ingredients-first-item-overlay {
  color: #fff;
  background: #fd9222;
}
.page-ingredients-second-item-overlay {
  background-color: #fafafa;
}
.page-ingredients-text-overlay {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
/* HOW IT’S MADE? STYLES */
.page-how-made-wrapper {
  display: flex;
  column-gap: 20px;
}
.page-how-made-list-container {
  flex-grow: 1;
  padding: 32px;
  border-radius: 15px;
  background-color: #ffffff;
}
.page-how-made-list-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 28px;
}
.page-how-made-list {
  padding-right: 26px;
}
.page-how-made-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  position: relative;
  padding-left: 16px;
}
.page-how-made-list-item:not(:last-child) {
  margin-bottom: 24px;
}
.page-how-made-list-item::before {
  position: absolute;
  content: '';
  border-radius: 100%;
  top: 4px;
  left: 0px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
}
/* REVIEWS STYLES */
.page-reviews {
  padding-bottom: 100px;
}
.page-reviews-title {
  margin-bottom: 90px;
}
.page-reviews-list {
  display: flex;
  column-gap: 28px;
  margin-bottom: 50px;
}
.page-reviews-list-item {
  width: calc((100% - 56px) / 3);
  padding: 56px 24px 24px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background-color: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  position: relative;
}
.page-reviews-list-item-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-reviews-list-item-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 24px;
}
.page-reviews-list-item-description {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.page-reviews-button {
  font-weight: 600;
  font-size: 18px;
  color: #111111;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 14px 40px;
  min-width: 222px;
  border: 1px solid #fd9222;
  border-radius: 100px;
  background-color: #fafafa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-reviews-button:hover,
.page-reviews-button:focus {
  color: #ffffff;
  background-color: #fd9222;
}
/* FOOTER STYLES */
.page-footer {
  background-color: #1e1823;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}
.page-footer-top-block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.page-footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  max-width: 300px;
}
.page-footer-address {
  font-style: normal;
}
.page-footer-address-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 14px;
}
.page-footer-address-list-item:not(:last-child) {
  margin-bottom: 4px;
}
.page-footer-address-list-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.page-footer-address-list-item-link:hover,
.page-footer-address-list-item-link:focus {
  color: #fd9222;
}
.page-footer-bottom-block {
  padding-top: 24px;
}
